/* .sign,
.sign *,
.sign :after,
.sign :before,
.sign:after,
.sign:before {
  border: 0 solid;
  box-sizing: border-box;
} */
::-webkit-scrollbar {
  width: 0;
}
.sign {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #ff1616;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.sign:disabled {
  cursor: default;
}
.sign:-moz-focusring {
  outline: auto;
}
.sign svg {
  display: block;
  vertical-align: middle;
}
.sign [hidden] {
  display: none;
}
.sign {
  border: 1px solid;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  overflow: hidden;
  position: relative;
}
.sign .new {
  display: grid;
  inset: 0;
  place-content: center;
  pointer-events: none;
  position: absolute;
  transform: translateX(-100%);
  transition: transform 0.2s;
}
.sign:hover .new {
  background-color: #cf0f0f;
  transform: translateX(0);
}
.section {
  height: 1000px;
}
.bg-header {
  width: 100%;
  top: 0;
  z-index: 1;
  position: fixed;
}
.splide__pagination {
  display: flex;
  gap: 0.5rem;
}
.splide__pagination__page.is-active {
  background-color: #fff;
}
.img {
  color: white;
  display: flex;
  flex-direction: column;
  height: 600px;
}
.image1 {
  background-image: url(../assets/img/hero1.webp);
}
.image2 {
  background-image: url(../assets/img/hero2.webp);
}
.image3 {
  background-image: url(../assets/img/hero3.webp);
}
@media screen and (max-width: 800px) {
  .image1, .image2, .image3 {
    background-size: cover;
  }
}
.splide__arrow--next svg:hover,
.splide__arrow--prev svg:hover {
  fill: #ff1616;
  cursor: pointer;
}
.splide__arrow--next svg,
.splide__arrow--prev svg {
  fill: #bbbfcc;
  width: 80px;
}
.splide__arrow--prev {
  position: absolute;
  left: -30px;
  background: transparent;
}
.splide__arrow--next {
  position: absolute;
  right: -30px;
  background: transparent;
}
.book {
  width: 200px;
  cursor: pointer;
}
@media screen and (max-width: 1536px) {
  .book {
    width: 190px;
  }
}
@media screen and (max-width: 1200px) {
  .book {
    width: 160px;
  }
}
@media screen and (max-width: 400px) {
  .book {
    width: 140px;
  }
}
@media screen and (max-width: 340px) {
  .book {
    width: 120px;
  }
}
.book:hover {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.126);
  transition: box-shadow 0.3s;
}
.text {
  text-align: center;
}
#preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black url("/assets/img/loading2.gif") center center no-repeat;
  background-size: 20%;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10000;
}
.activeBtn {
  background: #ff1616;
  color: #fff;
}
.btn_more,
.btn_more *,
.btn_more:after,
.btn_more:before,
.btn_more:after,
.btn_more:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn_more {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  color: #fff;
  cursor: pointer;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
}
.btn_more:disabled {
  cursor: default;
}
.btn_more:-moz-focusring {
  outline: auto;
}
.btn_more svg {
  display: block;
  vertical-align: middle;
}
.btn_more [hidden] {
  display: none;
}
.btn_more {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}
.btn_more span {
  mix-blend-mode: lighten;
}
.btn_more:hover {
  color: #fff;
}
.btn_more:before {
  background: #FF1616;
  content: "";
  inset: 0;
  position: absolute;
  transform: translateY(var(--progress, -100%));
  transition: transform 0.2s ease;
}
.btn_more:hover:before {
  --progress: 0;
}
.bg-img2 {
  background-image: url('/assets/img/image1.webp');
}
.bg-img1 {
  background-image: url('/assets/img/image2.webp');
}
.bg-img-newsletter {
  background-image: url('/assets/img/bg-img.webp');
}
.icon:hover svg {
  transition: fill 0.3s;
  fill: #fff;
}
@media screen and (max-width: 1536px) {
  .bg-img-newsletter {
    margin: 0 20px;
  }
}